<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
  </head>
<style>
.main-container {
  max-width: 50%;
  margin: 0 auto;
}
</style>
  <body>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
