<div>
  <h1>New Recipe</h1>
  <form id="recipe-form" method="post">
    <div class="recipe-metadata">
      <label for="name">Name</label>
      <input type="text" placeholder="Grandma's Chocolate Cake" id="name" name="name" required></br>
      <label for="serves">Serves</label>
      <input type="text" placeholder="10" id="serves" name="serving_number" required></br>
      <label for="time">Total time</label>
      <input type="text" placeholder="Two days" id="time" name="total_time"></br>
    </div>
    <div id="ingredients">
      <h2>Ingredients</h2>
      <div class="ingredient-group">
        <input placeholder="1 cup flour" type="text" name="ingredients[]name" required>
      </div>
    </div>
    <button class="primary" id="add-ingredient-button">Add another ingredient</button>
    <div id="instructions-group">
      <h2>Instructions</h2>
      <textarea form="recipe-form" name="instructions" id ="instructions-textarea"></textarea>
    </div>
    <button class="primary">Save Recipe</button>
  </form>
</div>

<script>
  (function() {
    let numIngredients = 1;
    const run = () => {
      setHandlers();
    }

    const setHandlers = () => {
      document.getElementById("add-ingredient-button")
        .addEventListener("click", event => {
          event.preventDefault();
          addIngredientInput();
        });
    }

    const removeIngredient = id => {
      let element = document.getElementById(id);
      element.parentNode.removeChild(element);
      numIngredients -= 1;
    }

    const addIngredientInput = () => {
      numIngredients += 1;
      const container = document.createElement("div");
      container.setAttribute("id", `ingredient-group-${numIngredients}`);
      const parentIngredientsContaienr = document.getElementById("ingredients");
      parentIngredientsContaienr.appendChild(container);
      container.setAttribute("class", "ingredient-group");

      const nameInput = document.createElement("input");
      nameInput.setAttribute("name", "ingredients[]name");
      nameInput.setAttribute("placeholder", "5 carrots");
      container.appendChild(nameInput);

      const removeButton = document.createElement("button");
      removeButton.innerHTML = "Remove";
      removeButton.setAttribute("class", "secondary");
      removeButton.addEventListener("click", event => {
        event.preventDefault();
        removeIngredient(`ingredient-group-${numIngredients}`);
      });
      container.appendChild(removeButton);
    }

    run();

  })();

</script>
