<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<div>
  <h1>Add Recipe</h1>
  <form method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required></br>
    <div id="ingredients">
      <h2>Ingredients</h2>
      <div class="ingredient-group">
        <input placeholder="1" type="text" name="ingredients[]qty" required>
        <select name="ingredients[]unit">
          <option value="Cup">Cup</option>
          <option value="Pound">Pound</option>
        </select>
        <input class="ml" type="text" placeholder="tomatoes" name="ingredients[]name" required></br>
      </div>
    </div>
    <button onClick="addIngredientInput(event)">Add another ingredient</button>
    <div id="instructions">
      <textarea id ="instructions-textarea" rows="50" cols="50">
      </textarea>
    </div>
    <button>Submit</button>
  </form>
</div>

<style>
.ingredient-group { display: flex; margin-bottom: 10px; }
.ingredient-group input:nth-child(1) { width: 30px; }
.ingredient-group input:nth-child(3) { margin-left: 10px }
.ingredient-group button { margin-left: 10px }
.ingredient-group select { margin-left: 10px; }
</style>

<script src="https://cdn.quilljs.com/1.3.6/quill.js">
</script>
<script>
  let numIngredients = 1;
  const units = ["Cup", "Pound"];

  removeElmement = (id) => {
    let element = document.getElementById(id);
    element.parentNode.removeChild(id);
  }

  function addIngredientInput(event) {
    event.preventDefault();
    numIngredients += 1;
    const container = document.createElement("div");
    container.setAttribute("id", `ingredient-group-${numIngredients}`);
    const parentIngredientsContaienr = document.getElementById("ingredients");
    parentIngredientsContaienr.appendChild(container);
    container.setAttribute("class", "ingredient-group");

    const qtyInput = document.createElement("input");
    qtyInput.setAttribute("name", "ingredients[]qty");
    qtyInput.setAttribute("placeholder", "1");
    container.appendChild(qtyInput);

    const unitInput = document.createElement("select");
    unitInput.setAttribute("name", "ingredients[]unit");
    container.appendChild(unitInput);

    for(let i =0; i<units.length; i++) {
      let unitText = units[i];
      let option = document.createElement("option");
      option.setAttribute("value", unitText);
      option.innerHTML = unitText;
      unitInput.appendChild(option);
    }

    const nameInput = document.createElement("input");
    nameInput.setAttribute("name", "ingredients[]name");
    nameInput.setAttribute("placeholder", "carrots");
    container.appendChild(nameInput);

    const removeButton = document.createElement("button");
    removeButton.innerHTML = "Remove";
    removeButton.addEventListener("click", event => {
      event.preventDefault();
      removeElement(`ingredient-group-${numIngredients}"`);
    });
    container.appendChild(removeButton);
  }

</script>
