<h1><%= @recipe.name %></h1>
<a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a>
<h2>Ingredients</h2>
<ul>
<% @recipe.ingredients.each do |i| %>
  <li><%= i.name %></li>
<% end %>
</ul>

<h2 style="margin-bottom: 0;">Instructions</h2>
<div style="white-space: pre-line;">
  <%= @recipe.instructions %>
</div>
